/* @font-face {
    font-family: Gilroy, sans-serif;
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy-Medium', sans-serif;
    src: url(/fonts/gilroy-medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Gilroy, sans-serif;
    src: url(/fonts/gilroy-semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy-Bold', sans-serif;
    src: url(/fonts/gilroy-bold.ttf);
    font-weight: 700;
} */
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

html {
    font-family: Gilroy, sans-serif;
}
.center{ 
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
body {
    margin: 0;
    width: 1920px;
    height: 943px;
}
.header {
    margin-top: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.menu {
    font-family: 'Gilroy-Regular', sans-serif;
    width: 556px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.rest-menu {
    text-decoration: none;
}
#home {
    color: #F25822;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-top: 89px;
    margin-bottom: 162px;
}
.intro-title {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    height: 222px;
    width: 522px;
    margin: 0px;
}
.intro-desc {
    font-family: 'Gilroy-Medium', sans-serif;
    color: #888;
    font-size: 20px;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 37px;
    width: 466px;
}
.button {
    font-family: 'Gilroy-Bold', sans-serif;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    margin-right: 72px;
}
.button-video {
    font-family: 'Gilroy-Bold', sans-serif;
    color: #AAA;
    font-size: 15px;
    font-weight: 700;
    border: none;
    background-color: #FFF;
}
#intro-img {
    margin-left: 41px;
}
.logos {
    margin-top: 97px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
}
.opportunity {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 95px;
}
.block {
    border: 1px solid #000;
    padding: 35px 31px 30px 40px;
}
.title-opp {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
}
.desc-opp {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 17px;
}
.read-more {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 25px;
    margin-bottom: 30px;
}